a {
    color: #ec1818;
}
a:hover {
    color: #710132;
}
.wy-side-nav-search {
    background-color: #710132;
}
.wy-nav-side {
    background-color: #434343;
}
.wy-body-for-nav {
    background-color: #E3E3E3;
}
.wy-nav-content {
    background-color: #E3E3E3;
    margin-left: auto;
    margin-right: auto;
}
.wy-side-nav-search input[type="text"] {
    border-color: #710132;
}
.wy-menu-vertical li a {
    color: #e3e3e3;
    margin-left:20px;
}
.wy-menu-vertical span {
    color: #ec1818;
}

h2, h3, h4 {
    margin-top: 15px;
}

h3 {
    margin-left: 20px;
}

h4 {
    margin-left: 40px;
}

table tr:nth-child(odd) {
    background-color:#c8c8c8;
}

table tr:nth-child(even) {
    background-color:#d8d8d8;
}

thead tr {
    background-color:#737373 !important;
    color:#e3e3e3;
}


img[alt=icon] {
    width: 24px;
}