/* MAIN */

*{outline: none;}

MainWindow, QDialog {
        background-color: #434343;
        /*border: 4px solid #6d6d6d;*/
}

QDialog {
    border-color: #e3e3e3;
}

QDialog#HelpDialog {
    border-color: #6d6d6d;
}

/* COLOR DIALOG */

QColorDialog QWidget {
        border:none;
}

QColorDialog QPushButton {
        border: 2px solid;
        border-color:  #6d6d6d;
}

/*  LABEL */

QLabel {
        color: #e3e3e3;
}

QLabel:disabled {
        color: #6d6d6d;
}

/* LINE EDIT */

QLineEdit {
    background-color: #434343;
    color: #e3e3e3;
    padding: 4px;
    padding-bottom: 5px;
    border: 2px solid #6d6d6d;
}

QLineEdit:hover {
    background-color: #e3e3e3;
    color: #434343;
    border-color:  #e3e3e3;
}

QLineEdit:disabled {
        background-color: #434343;
        border-color: #434343;
        color: #6d6d6d;
}

/* (PLAIN) TEXT EDIT */

QPlainTextEdit, QTextBrowser, QTextEdit {
        background-color: #434343;
        color: #e3e3e3;
	padding: 4px;
	padding-bottom: 5px;
        border: 2px solid #6d6d6d;
}

QTextBrowser, QTextEdit {
        border-color:#6d6d6d;
}

QPlainTextEdit:hover, QTextBrowser:hover, QTextEdit:hover {
        background-color: #434343;
        color: #434343;
        border-color:  #e3e3e3;
}

QPlainTextEdit:disabled, QTextEdit:disabled {
        background-color: #434343;
        border-color: #434343;
        color: #6d6d6d;
}

/* BUTTON */

QPushButton {
        border: 2px solid #6d6d6d;
        color: #e3e3e3;
	background-color:#434343;
        padding: 6px;
}

QPushButton:disabled {
        border-color:  #434343;
	color: #6d6d6d;
}

QPushButton:hover {
        background-color: #e3e3e3;
        color: #434343;
	border-color:  #e3e3e3;
}

QPushButton:pressed:hover {
        background-color: #434343;
        color: #e3e3e3;
}

/* CHECKBOX AND RADIOBUTTON */

QCheckBox, QRadioButton {
        border:none;
        padding: 3px;
        color: #e3e3e3;
}

QCheckBox:disabled, QRadioButton:disabled {
        color: #6d6d6d;
        }

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled {
        background-color: #434343;
        border-color: #434343;
}

QCheckBox::indicator:disabled:checked, QRadioButton::indicator:disabled:checked {
        background-color: #6d6d6d;
}

QCheckBox::indicator, QRadioButton::indicator {
        border:4px solid #6d6d6d;
        background-color: #6d6d6d;
        width: 12px;
    height: 12px;
}

QCheckBox::indicator:hover, QRadioButton::indicator:hover {
        background-color: #434343;
}

QCheckBox::indicator:hover:pressed, QRadioButton::indicator:hover:pressed {
        background-color: #e3e3e3;
}

QCheckBox::indicator:checked, QRadioButton::indicator:checked {
        background-color: #e3e3e3;
}

QCheckBox::indicator:checked:hover, QRadioButton::indicator:checked:hover {
        background-color: #434343;
}

/* SPINBOX */

QSpinBox, QDoubleSpinBox {
        border:none;
        background-color: #434343;
	border: 2px solid #6d6d6d;
        color: #e3e3e3;
	padding: 4px;
}

QSpinBox:hover, QDoubleSpinBox:hover {
        background-color: #e3e3e3;
        color: #434343;
        border-color:  #e3e3e3;
}

QSpinBox::up-button, QDoubleSpinBox::up-button {
        border:none;
        background-color:#6d6d6d;
        border-left:2px solid #434343;
        border-bottom:1px solid #434343;
}

QSpinBox::down-button, QDoubleSpinBox::down-button {
        border:none;
        background-color:#6d6d6d;
        border-top:1px solid #434343;
        border-left:2px solid #434343;
}

QSpinBox::up-button:hover,  QSpinBox::down-button:hover, QDoubleSpinBox::up-button:hover, QDoubleSpinBox::down-button:hover {
        background-color: #e3e3e3;
	color: #434343;
}

QSpinBox:disabled, QDoubleSpinBox:disabled {
        background-color: #434343;
        border-color: #434343;
        color: #6d6d6d;
}

/* SLIDER */

QSlider::sub-page:horizontal {
    background-color: #6d6d6d;
}

QSlider::add-page:horizontal {
    background-color: #333333;
}

QSlider::handle {
    background-color: #e3e3e3;
}

QSlider::handle:hover {
    background-color: #434343;
}

QSlider::handle:disabled {
    background-color: #6d6d6d;
}

QSlider::handle:hover:disabled {
    background-color: #6d6d6d;
}

/* TOOLBAR */

QToolBar {
        background: #6d6d6d;
        border: none;
        padding: 3px;
}

QToolBar::separator {
        background: #535353;
        width:3px;
        height:3px;
}

QToolButton {
        color: #e3e3e3;
        border: none;
        border-color:  #6d6d6d;
        padding: 8px;
        background-color: #6d6d6d;
        margin:2px;
}

QToolBar QPushButton {
        background-color: #535353;
        color: #6d6d6d;
}

QToolBar QCheckBox {
        color: #9d9d9d;
}

QToolBar QCheckBox:checked {
        color: #e3e3e3;
}

QToolBar QCheckBox::indicator:hover {
        background-color: #e3e3e3;
}

QToolBar QCheckBox::indicator:hover:pressed {
        background-color: #434343;
}

QToolBar QCheckBox::indicator:checked {
        background-color: #e3e3e3;
}

QToolBar QCheckBox::indicator:checked:hover {
        background-color: #434343;
}

QToolButton:!enabled {
        color: #434343;
}

QToolButton:checked {
        background-color: #434343;
}

QToolBar QPushButton:checked {
        background-color: #9d9d9d;
        color: #434343;
}

SearchWidget QPushButton {
        background-color: #6d6d6d;
}

QToolButton:pressed:hover,  QToolBar QPushButton:pressed:hover {
        background-color: #434343;
}

QToolButton:hover,  QToolBar QPushButton:hover {
        background-color: #e3e3e3;
        color: #434343;
}

QToolButton:checked:hover, QToolBar QPushButton:checked:hover {
        background-color: #434343;
        color: #6d6d6d;
}

/* SCROLL AREA */
QScrollArea QWidget {
        background-color: #434343;
}

/* SCROLLBAR */

QScrollBar {
    border: none;
    background: #222222;
        margin: 0;
}

QScrollBar::add-page, QScrollBar::sub-page{
    background: #222222;
}

QScrollBar::handle {
    background: #333333;
        border: none;
}

QScrollBar::handle:hover {
    background: #6d6d6d;
}

QListWidget QScrollBar {
    background: #434343;
}

QListWidget QScrollBar::add-page,QListWidget QScrollBar::sub-page{
    background: #434343;
}

QListWidget QScrollBar::handle {
    background: #535353;
}

QListWidget QScrollBar::handle:hover {
    background: #e3e3e3;
}

QScrollBar::add-line, QScrollBar::sub-line {
    border: none;
        width:0;
        height:0;
}

/* VERTICAL */

QScrollBar:vertical {
        width: 15px;
}

QScrollBar::handle:vertical {
    min-height: 20px;
}

/* HORIZONTAL */

QScrollBar:horizontal {
        height: 15px;
}

QScrollBar::handle:horizontal {
    min-width: 20px;
}

/* SPLITTER */

QSplitter::handle {
    background: #434343;
}

QSplitter::handle:pressed {
    background-color: #e3e3e3;
}

/* COMBO BOX */
QComboBox {
    color: #e3e3e3;
        border: 2px solid;
        border-color:  #6d6d6d;
        background-color:#434343;
	padding: 4px;
}

QComboBox::disabled {
    color: #6d6d6d;
    border-color:  #434343;
}

QComboBox:hover {
    background-color: #e3e3e3;
        color: #434343;
        border-color:  #e3e3e3;
}

QComboBox::drop-down {
        border: none;
}

QComboBox QAbstractItemView {
        background-color: #e3e3e3;
    selection-background-color: #434343;
        selection-color: #e3e3e3;
        border: 2px solid #e3e3e3;
        padding:10px;
}

/* TOOLBAR COMBO BOX */
QToolBar QComboBox {
    border: none;
    padding: 1px 18px 1px 3px;
        padding-left:40%;
        color: #434343;
        background-color: #e3e3e3;
}

/* Table COMBO BOX */
QTableWidget QComboBox {
    color: #e3e3e3;
        border:none;
        padding-left:40%;
}

QTableWidget QComboBox QAbstractItemView {
        padding-left:30%;
        padding-right:30%;
}

/* LIST */

QListWidget {
        background-color: #6d6d6d;
        color: #e3e3e3;
        padding: 3px;
        border: 2px solid #6d6d6d;
}

QListWidget::item {
        padding:3px;
}

QListWidget::item:hover {
        background-color: #6d6d6d;
        color: #434343;
}

QListWidget::item:selected {
    background-color: #434343;
        color: #e3e3e3;
        border = none;
}

QListWidget:disabled {
        background-color: #434343;
        border-color: #434343;
        color: #6d6d6d;
}

/* TABLE */

QTableWidget {
        background-color: #434343;
        alternate-background-color: #494949;
}

QTableWidget QTableCornerButton::section {
        background-color: #333333;
        border:none;
}

QTableWidget QComboBox:hover {
        color: #e3e3e3;
}

QTableWidget QComboBox QAbstractItemView {
        color: #e3e3e3;
}

QHeaderView {
        background-color: #333333;
}

QHeaderView::section {
    background-color: #333333;
        color: #6d6d6d;
        border:none;
        padding:10px;
}

QHeaderView::section:horizontal {
        border-right: 2px solid #434343;
}

QHeaderView::section:vertical {
        border-bottom: 2px solid #434343;
}

QTableWidget QPushButton {
        border:none;
        background-color:rgba(0,0,0,0);
}

QTableWidget QPlainTextEdit, QTableWidget QTextEdit, QTableWidget QSpinBox, QTableWidget QLineEdit {
        border:none;
        background-color:rgba(0,0,0,0);
}

QTableWidget QPlainTextEdit:hover, QTableWidget QPlainTextEdit:focus, QTableWidget QTextEdit:hover, QTableWidget QTextEdit:focus, QTableWidget QSpinBox:hover, QTableWidget QSpinBox:focus, QTableWidget QLineEdit:hover, QTableWidget QLineEdit:focus {
        border: 2px solid #6d6d6d;
        background-color:#6d6d6d;
}

/* TREE */

QTreeWidget {
        background-color: #434343;
        alternate-background-color: #494949;
        color: #e3e3e3;
}

/* TABS */

QTabWidget {
    background-color:#434343;
}

QTabWidget::pane { /* The tab widget frame */
    border:none;
        background-color:#434343;
}

QTabBar {
    background-color: #434343;
}
QTabBar::tab {
    background-color: #434343;
    color: #e3e3e3;
    border-bottom: 2px solid #434343; /* same as the pane color */
    padding: 8px;
}

QTabBar::tab:selected {
    background-color: #333333;
        color: #e3e3e3;
}

QTabBar::tab:hover {
    background-color: #e3e3e3;
        color: #434343;
}

QTabBar::tab:selected:hover {
    background-color: #333333;
        color: #6d6d6d;
}


/* TOOLBOX */

QToolBox::tab {
    background-color: #434343;
    color: #e3e3e3;
    padding-left: 100px;
}

QToolBox::tab:selected {
    background-color: #333333;
        color: #e3e3e3;
}

QToolBox::tab:hover {
background-color: #e3e3e3;
    color: #434343;
}

QToolBox::tab:selected:hover {
    background-color: #333333;
        color: #6d6d6d;
}


/* STATUS BAR */
QStatusBar {
        color: #6d6d6d;
}

QStatusBar::item {
    border:none;
}

QStatusBar QLabel {
        color: #6d6d6d;
        margin-bottom: 3px;
        margin-left: 3px;
}

/* PROGRESS BAR */

 QProgressBar {
        color: #6d6d6d;
	border: none;
	background-color: #333333;
}

QProgressBar::chunk {
    background-color: #e3e3e3;
    width: 1px;
}
